# The problem statement is that weather an employee transported from one to another location.

### Firt we have to load the data set. We use **`.info()`** method to see the quick overview of data. Later on we have to drop irrelevent columns and then handle the missing values.
### After imputation we have to encode the columns and normalize the values.

## Load the dataset

In [ ]:
import pandas as pd

In [6]:
path = os.path.dirname(os.getcwd())
print(path)

c:\Users\Aun Awan\Desktop

In [ ]:

train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")

### Here we take a quick overview of first few rows

In [3]:
train_df.head(6)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
5,0005_01,Earth,False,F/0/P,PSO J318.5-22,44.0,False,0.0,483.0,0.0,291.0,0.0,Sandie Hinetthews,True

### Here we see the summary of data that tell class of pandas, total rows and column in data set, columns names, how many non-null values in each column and columns datatype

In [4]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [5]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4190 non-null   object
 2   CryoSleep     4184 non-null   object
 3   Cabin         4177 non-null   object
 4   Destination   4185 non-null   object
 5   Age           4186 non-null   float64
 6   VIP           4184 non-null   object
 7   RoomService   4195 non-null   float64
 8   FoodCourt     4171 non-null   float64
 9   ShoppingMall  4179 non-null   float64
 10  Spa           4176 non-null   float64
 11  VRDeck        4197 non-null   float64
 12  Name          4183 non-null   object
dtypes: float64(6), object(7)
memory usage: 434.5+ KB

### Here we see the total number of values in each category in single column

In [6]:
def count_values(columns):
    for col in columns:
        count_values = train_df[col].value_counts()
        print(f"The total values in the {count_values}")
        
        
count_values(columns=["HomePlanet","Destination","CryoSleep","Cabin"])

The total values in the HomePlanet
Earth     4602
Europa    2131
Mars      1759
Name: count, dtype: int64
The total values in the Destination
TRAPPIST-1e      5915
55 Cancri e      1800
PSO J318.5-22     796
Name: count, dtype: int64
The total values in the CryoSleep
False    5439
True     3037
Name: count, dtype: int64
The total values in the Cabin
G/734/S     8
G/109/P     7
B/201/P     7
G/1368/P    7
G/981/S     7
           ..
G/556/P     1
E/231/S     1
G/545/S     1
G/543/S     1
F/947/P     1
Name: count, Length: 6560, dtype: int64

### How many null values in each column

In [7]:
train_df.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [8]:
test_df.isnull().sum()

PassengerId       0
HomePlanet       87
CryoSleep        93
Cabin           100
Destination      92
Age              91
VIP              93
RoomService      82
FoodCourt       106
ShoppingMall     98
Spa             101
VRDeck           80
Name             94
dtype: int64

In [9]:
Passenger_ids = test_df["PassengerId"]

### Drop Irrelvent or redudant features

### The name column and passenger id column is not useful because from name, passenger id we do not predict weather an employee transporrted or not

In [10]:
train_df.drop(columns=["Name","PassengerId","Cabin"],inplace=True)

In [11]:
test_df.drop(columns=["Name","PassengerId","Cabin"],inplace=True)

### Impute null values

### We use mode for categorical columns because it is best approach to fill null values with mode and use indexing to fill with first category in the each categorical columns

In [12]:
def fill_with_mode(columns):
  for col in columns:
    train_df[col] = train_df[col].fillna(train_df[col].mode()[0])
  return
  
fill_with_mode(columns=["HomePlanet", "CryoSleep", "Destination", "VIP"])

C:\Users\Aun Awan\AppData\Local\Temp\ipykernel_13028\2366404520.py:3: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train_df[col] = train_df[col].fillna(train_df[col].mode()[0])

In [13]:
def fill_with_mode(columns):
  for col in columns:
    test_df[col] = test_df[col].fillna(test_df[col].mode()[0])
  return
  
fill_with_mode(columns=["HomePlanet", "CryoSleep", "Destination", "VIP"])

C:\Users\Aun Awan\AppData\Local\Temp\ipykernel_13028\2940406691.py:3: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  test_df[col] = test_df[col].fillna(test_df[col].mode()[0])

### We use median here becaues in numeric columns data is skewed and contain big outliers so fill with median is best approach

In [14]:
def fill_with_median(columns):
  for col in columns:
    train_df[col] = train_df[col].fillna(train_df[col].median())
  return
  
fill_with_median(columns=["Age","VIP", "RoomService", "FoodCourt", "ShoppingMall","Spa","VRDeck"])

In [15]:
def fill_with_median(columns):
  for col in columns:
    test_df[col] = test_df[col].fillna(test_df[col].median())
  return
  
fill_with_median(columns=["Age","VIP", "RoomService", "FoodCourt", "ShoppingMall","Spa","VRDeck"])

### Check after imputation any null value exist in data

In [16]:
train_df.isnull().sum()

HomePlanet      0
CryoSleep       0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Transported     0
dtype: int64

In [17]:
test_df.isnull().sum()

HomePlanet      0
CryoSleep       0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
dtype: int64

### **`.nunique()`** is used to check unique values in each column in data. It is best for categorical columns becausse it tell how many total number of category in each categorical columns

In [18]:
train_df.nunique()

HomePlanet         3
CryoSleep          2
Destination        3
Age               80
VIP                2
RoomService     1273
FoodCourt       1507
ShoppingMall    1115
Spa             1327
VRDeck          1306
Transported        2
dtype: int64

In [19]:
train_df.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True

# **Encoding**

In [20]:
train_df.head(7)

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True
5,Earth,False,PSO J318.5-22,44.0,False,0.0,483.0,0.0,291.0,0.0,True
6,Earth,False,TRAPPIST-1e,26.0,False,42.0,1539.0,3.0,0.0,0.0,True

### For encoding and normalization we use **`Sickit Learn`**

In [21]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder 
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [22]:
le = LabelEncoder()
ohe = OneHotEncoder()

In [23]:
train_df.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True

### Here we use **`Label Encoding()`**. It gives a unique number to each category.

In [24]:
def train_data_label_encoding(columns):
  for col in columns:
    train_df[col] = le.fit_transform(train_df[col])
  return
  
train_data_label_encoding(columns=["CryoSleep", "Transported", "VIP"])

In [25]:
test_df.columns

Index(['HomePlanet', 'CryoSleep', 'Destination', 'Age', 'VIP', 'RoomService',
       'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck'],
      dtype='object')

In [26]:
def test_data_label_encoding(columns):
  for col in columns:
    test_df[col] = le.fit_transform(test_df[col])
  return
  
test_data_label_encoding(columns=["CryoSleep",  "VIP"])

### Here we use **`One hot Encoding()`** which creates binary column for each category.

In [27]:
train_df = pd.get_dummies(train_df,columns=["HomePlanet", "Destination"],prefix=["HomePlanet", "Destination"])

In [28]:
test_df = pd.get_dummies(test_df,columns=["HomePlanet", "Destination"],prefix=["HomePlanet", "Destination"])

# **Normalizing**

In [29]:
train_df.head(8)

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,0,39.0,0,0.0,0.0,0.0,0.0,0.0,0,False,True,False,False,False,True
1,0,24.0,0,109.0,9.0,25.0,549.0,44.0,1,True,False,False,False,False,True
2,0,58.0,1,43.0,3576.0,0.0,6715.0,49.0,0,False,True,False,False,False,True
3,0,33.0,0,0.0,1283.0,371.0,3329.0,193.0,0,False,True,False,False,False,True
4,0,16.0,0,303.0,70.0,151.0,565.0,2.0,1,True,False,False,False,False,True
5,0,44.0,0,0.0,483.0,0.0,291.0,0.0,1,True,False,False,False,True,False
6,0,26.0,0,42.0,1539.0,3.0,0.0,0.0,1,True,False,False,False,False,True
7,1,28.0,0,0.0,0.0,0.0,0.0,0.0,1,True,False,False,False,False,True

In [30]:
scaler = MinMaxScaler(feature_range=(0,1))

### We have to normalize the data here because the values are not normally distributed there. To take them on same scale for better traing and for good accuracy we use **`Minimax scaler()`**

In [31]:
def minimaxscaler_for_training_data(columns):
  for col in columns:
    train_df[[col]] = scaler.fit_transform(train_df[[col]])
    

minimaxscaler_for_training_data(columns=["Age","RoomService","FoodCourt","ShoppingMall","Spa","VRDeck"])

In [32]:
def minimaxscaler_for_testing_data(columns):
  for col in columns:
    test_df[[col]] = scaler.fit_transform(test_df[[col]])
    

minimaxscaler_for_testing_data(columns=["Age","RoomService","FoodCourt","ShoppingMall","Spa","VRDeck"])

In [33]:
train_df.head()

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,0,0.493671,0,0.000000,0.000000,0.000000,0.000000,0.000000,0,False,True,False,False,False,True
1,0,0.303797,0,0.007608,0.000302,0.001064,0.024500,0.001823,1,True,False,False,False,False,True
2,0,0.734177,1,0.003001,0.119948,0.000000,0.299670,0.002030,0,False,True,False,False,False,True
3,0,0.417722,0,0.000000,0.043035,0.015793,0.148563,0.007997,0,False,True,False,False,False,True
4,0,0.202532,0,0.021149,0.002348,0.006428,0.025214,0.000083,1,True,False,False,False,False,True

In [34]:
test_df.head()

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,1,0.341772,0,0.000000,0.000000,0.00000,0.000000,0.000000,True,False,False,False,False,True
1,0,0.240506,0,0.000000,0.000356,0.00000,0.142260,0.000000,True,False,False,False,False,True
2,1,0.392405,0,0.000000,0.000000,0.00000,0.000000,0.000000,False,True,False,True,False,False
3,0,0.481013,0,0.000000,0.263206,0.00000,0.009121,0.026266,False,True,False,False,False,True
4,0,0.253165,0,0.000865,0.000000,0.07658,0.000000,0.000000,True,False,False,False,False,True

### **Train and Test Split**

In [35]:
X = train_df.drop(columns="Transported")
Y = train_df["Transported"]

X_test = test_df.copy()

In [36]:
X_train_part, X_values, Y_train_part, Y_values = train_test_split(X, Y, test_size=0.2, random_state=42)

### **Training**

In [37]:
model = RandomForestClassifier()
model.fit(X_train_part, Y_train_part)

RandomForestClassifier()

### **Model Evaluation**

In [38]:
y_predict = model.predict(X_values)
print(f"Accuuracy Score: {accuracy_score(Y_values,y_predict)*100:.2f}")

Accuuracy Score: 78.38

In [39]:
test_predictions = model.predict(X_test)

### **Conert into CSV**

In [41]:
submission_df = pd.DataFrame({
    "PassengerId": Passenger_ids,  # Use PassengerId from test set
    "Transported": test_predictions .astype(bool) # Model predictions
})

# Save the results
submission_df.to_csv("my_submission.csv", index=False)
print("Submission file created successfully!")

Submission file created successfully!